mixin aboutme()
  section#aboutme
    .wrapper
      .icon
        img(src="img/icon-about.png", alt="")
      h2 Расскажите о себе
      p Напишите несколько предложений, чем привлекла наша вакансия <br/> и что вы ожидаете от работы у нас.
      form.aboutme
        textarea У меня очень большие перспективы стать хорошим fron-end'ером. Активно учу Jquary и JS. Буду очень рад с вами работать! Развиваюсь с каждым днем. Спасибо!
      .btn-about
        a(href="#callback").btn Готово
