mixin exp()
  section#exp
    .wrapper
      .icon
        img(src="img/exp-icon.png", alt="")
      h2 Расскажите о своем опыте
      .group
        .group-item
          ul
            li
              input(type="checkbox" checked)
              label БЭМ/OOCSS(по надобности)
            li
              input(type="checkbox" checked)
              label Stylus/LESS/SASS
            li
              input(type="checkbox" checked)
              label Работаю с SVG
        .group-item
          ul
            li
              input(type="checkbox" checked)
              label Верстаю семантично
            li
              input(type="checkbox")
              label ES2015/ES2016
            li
              input(type="checkbox" checked)
              label Gulp/GRUNT
        .group-item
          ul
            li
              input(type="checkbox")
              label Webpack
            li
              input(type="checkbox" checked)
              label jQuery
            li
              input(type="checkbox" checked)
              label Ипользую Git