mixin form()
  section#form
    .wrapper
      h1.fadeInDown Анкета
      .icon
        img(src="img/icon.png", alt="")
      h2 Личная информация
      form.main-form(method="post")
        .group
          input(type="text" required value="Эдуард Иляскин Игоревич")
        .group
          input(type="text" value="1998-08-05")
        .group
          input(type="text" required value="Караганда")
        .group
          input(type="text" required value="ilyaskin6")
        .group
          input(type="text" required value="ilyaskin1998@gmail.com")