mixin header() 
	- var menu = [ 'Личная информация', 'Опыт', 'Javascript', 'О себе' ];
	header.header
		.wrapper
			.nav-mobile-menu
				span
			.main-menu
				nav
					ul
						each key in menu
							li
								a= key