mixin jslevel()
  section#jslevel
    .wrapper
      .icon
        img(src="img/js-icon.png", alt="js-icon")
      h2 Уровень владения JavaScript
      .top-silder
        ul
          li Не владею
          li Использую готовые
            br 
            | решения
          li Использую готовые решения 
           br
           | и умею и переделывать
          li Пишу сложный JS с нуля
      #slider
      