include sections/header
include sections/form
include settings/settings

<!DOCTYPE html>
html(lang="ru")
	head
		+settings
	body
		main.content
			+header
			+form


		link(rel="stylesheet" href="css/main.min.css")
		script(src="js/scripts.min.js")
	
