@import "fonts"
@import "libs"
@import "vars"
@import "bourbon"
@import "reset"

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666


body
	font-size: 16px
	min-width: 320px
	position: relative
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

section
	position: relative

.fl-l
	float: left
.fl-r
	float: right

.text-center
	text-align: center
.text-left
	text-align: left
.text-right
	text-align: right

a:focus
	text-decoration: none

h2
	font-size: 30px
	font-family: roboto-light, sans-serif


.wrapper
	max-width: 785px
	width: 100%
	padding: 0 15px
	margin: 0 auto

.img-responsive
	display: block
	max-width: 100%
	height: auto

.main
	min-height: 100%

.hidetab
	position: absolute
	left: 0
	top: 0
	height: 0
	width: 0
	overflow: 0
	z-index: -1
	opacity: 0
.tab-cont
	opacity: 1
	+tr(opacity 1.4s)
	&.hidetab
		opacity: 0


// Header-menu
.header
	position: fixed
	padding: 40px 0
	border-bottom: 1px solid #DADADA
	background-color: white
	z-index: 99
	top: 0
	left: 0
	right: 0
	+tr(.25s ease)
	&.fixed
		padding: 20px 0
		+tr(.25s ease)
	.main-menu
		ul
			margin: 0
			padding: 0
			list-style-type: none
			display: flex
			justify-content: space-around
			li
				a
					cursor: pointer
					font-size: 14px
					+tr(border .25s ease)
					border-bottom: 1px solid $tr
					&:hover
						text-decoration: none
						border-bottom: 1px solid #000
					&.active
						color: #1c1c1c
.nav-mobile-menu
	display: none


// FORM
section#form
	padding-top: 100px
	.wrapper
		display: flex
		justify-content: center
		flex-direction: column
		align-items: center
		flex-wrap: wrap
		h1
			margin-top: 130px
			font-size: 70px
			font-weight: 100
		.icon
			margin-top: 30px
		h2
			font-size: 30px
			font-family: roboto-light, sans-serif
		.main-form
			.group
				text-align: center
				position: relative
				margin-bottom: 25px
				input
					width: 520px
					border: 1px solid #E6E6E6
					height: 60px
					border-radius: 5px
					font-size: 24px
					color: #c8c8c8
					font-weight: normal
					margin: 
					+placeholder-color(#c8c8c8)
					text-align: center
					&:hover, &:focus
						outline: none
				&:nth-child(2)
					input[type="text"]
						width: 320px

// EXP section
section#exp
	margin-top: 70px
	.wrapper
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		flex-wrap: wrap
	.group
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		width: 100%
		&-item
			ul
				list-style-type: none
				margin: 0
				padding: 0
				li
					margin: 20px
					label
						font-size: 16px
						font-family: roboto-light, sans-serif
	
[type="checkbox"]
  &:not(:checked), &:checked
    position: absolute
    left: -9999px
  &:not(:checked) + label, &:checked + label
    position: relative
    padding-left: 1.95em
    cursor: pointer
  &:not(:checked) + label:before, &:checked + label:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 1.25em
    height: 1.25em
    border: 1px solid #345896
    background: #fff
    border-radius: 4px
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1)
  &:not(:checked) + label:after, &:checked + label:after
    content: '✔'
    position: absolute
    top: 0
    left: 2px
    font-size: 1.3em
    line-height: 0.8
    color: #09ad7e
    transition: all .2s
  &:not(:checked) + label:after
    opacity: 0
    transform: scale(0)
  &:checked + label:after
    opacity: 1
    transform: scale(1)
  &:disabled
    &:not(:checked) + label:before
      box-shadow: none
      border-color: #bbb
      background-color: #ddd
    &:checked + label
      &:before
        box-shadow: none
        border-color: #bbb
        background-color: #ddd
      &:after
        color: #999
    + label
      color: #aaa
  &:checked:focus + label:before, &:not(:checked):focus + label:before
    border: 2px dotted blue


label:hover:before
  border: 2px solid #4778d9 !important


// JS LEVEL
section#jslevel
	margin-top: 130px
	.wrapper
		display: flex
		flex-direction: column
		align-items: center
	#slider
		margin-top: 20px
		width: 100%
		position: relative
		z-index: 5
	.top-silder
		width: 100%
		ul
			display: flex
			list-style-type: none
			padding: 0
			margin: 0
			justify-content: space-between
			align-items: flex-end
			li
				font-size: 13px
				position: relative
				&:nth-child(4)
					&:before
						right: 0
				&:before
					content: ''
					position: absolute
					width: 3px
					height: 33px
					bottom: -33px
					z-index: 6
					background-color: #fff
					background:
						image: url("../img/dot.png")
						repeat: repeat-y
						position: 0.5px 0

// SECTION ABOUT
section#aboutme
	margin-top: 96px
	.wrapper
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		h2
			margin: 10px 0
		p 
			text-align: center
			line-height: 24px
			font-size: 16px
			font-family: roboto-light, sans-serif
		.aboutme
			display: flex
			width: 100%
			justify-content: center
			textarea
				flex-basis: 515px
				height: 180px
				border: 1px solid #E8E8E8
				padding: 10px 10px
				font-size: 20px
				color: #c8c8c8
				resize: none
				&:focus 
					outline: none
		.btn-about
			a
				display: inline-block
				color: white
				background-color: #345896
				padding: .5em 1em
				border-radius: 5px
				margin: 20px 0
				+tr(.25s ease-in-out)
				font-weight: 100
				font-size: 16px
				&:hover
					text-decoration: none
					background-color: lighten(#345896, 10%)

.ui-slider-horizontal .ui-slider-range-min
	background: #8F89C8
	position: relative
.ui-slider-horizontal .ui-state-default
	border: 0
	height: 26px
	position: absolute
	top: 15px
	width: 23px
	cursor: pointer
	background: white url("../img/arrow.png") no-repeat
	&:focus, &:active
		outline: none
.ui-widget.ui-widget-content
	// height: 50px
	position: relative
.ui-slider
	position: relative
.ui-corner-all
	position: relative

		


// header
// 	position: absolute
// 	left: 0
// 	top: 0
// 	right: 0

// footer
// 	position: absolute
// 	left: 0
// 	bottom: 0
// 	right: 0

@import "media" // Всегда в конце
